[Unit]
Description=Dockerized Saver Service
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10
ExecStartPre=-/usr/local/bin/docker-compose -p saver -f deploy/docker-compose.yml kill 
ExecStartPre=-/usr/local/bin/docker-compose -p saver -f deploy/docker-compose.yml rm 
ExecStartPre=-/usr/local/bin/docker-compose -p saver -f deploy/docker-compose.yml rm -f
ExecStart=/usr/local/bin/docker-compose -p saver -f deploy/docker-compose.yml up --force-recreate --no-deps
ExecStop=/usr/local/bin/docker-compose -p saver -f deploy/docker-compose.yml stop
WorkingDirectory=/home/avezila/saver
StandardOutput=journal
SyslogIdentifier=saver
User=avezila
Group=avezila
NotifyAccess=all

[Install]
WantedBy=multi-user.target
